body{
    background-image: url('https://news.asu.edu/sites/default/files/20220202tempecampuschartersign_050.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}