<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chather</title>
    <link rel="stylesheet" href="{% static 'css/Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    
</head>
<body>
    <div class = "header">
        <div class = "row">
                <div class = "col-md-3">
                List
                </div>
                <div class = "col-md-3">
                search
                </div>
                <div class = "col-md-3">
                game
                </div>
                <div class = "col-md-3">
                text
                </div>
                <button class = loginbtn onclick="openPopup()">Login</button>
        </div>
    </div>

    <div id="popup" class = popup-overlay>
        <div class= popup-content>
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <h2>Log in to GRE Study</h2>
            <form>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>

        </div>

    </div>


    <div class = "background">

        <div class = "chapter1">
            <img class ="chapter" src="https://cdn-icons-png.flaticon.com/512/5453/5453718.png" alt=""/>
            chater1
        </div>
        <div class = "chapter2">
            <img class ="chapter" src="https://cdn-icons-png.flaticon.com/512/5453/5453718.png" alt=""/>
            chater2
        </div>
        <div class = "chapter3">
            <img class ="chapter" src="https://cdn-icons-png.flaticon.com/512/5453/5453718.png" alt=""/>
            chater3
        </div>
        <div class = "chapter4">
            <img class ="chapter" src="https://cdn-icons-png.flaticon.com/512/5453/5453718.png" alt=""/>
            chater4
        </div>
    </div>
</body>
</html>

<script src="{% static 'js/login.js' %}"></script>