<!-- Home.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRE Word Study</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TSP2VQ4QW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0TSP2VQ4QW');
    </script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script> 

  </head>
  <body>

    {% include "Project/navbar.html" %}

    <div id="popup" class="popup-overlay">
      <div class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>Log in to GRE Study</h2>
        <form method="post" action="{%url 'home' %}" id="loginform">
          {% csrf_token %} 
          {% include "form_errors.html" %}
          <input
            type="text" 
            id="username"
            name="username"
            placeholder="Username"
            value = "{{form.username.value|default_if_none:''}}"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            value = "{{form.password.value|default_if_none:''}}"
          />
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
    {% include "Project/search.html" %}

    <div class="home">
      <div class="home__container">
        <img
          class="home__image"
          src="https://news.asu.edu/sites/default/files/20220202tempecampuschartersign_050.jpg"
          alt=""
        />
      </div>
    </div>
  </body> 
</html>