<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
    
    <button class = loginbtn onclick="openPopup()">Login</button>

    <div id="popup" class = popup-overlay>
        <div class= popup-content>
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <h2>Log in to GRE Study</h2>
            <form>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>

        </div>

    </div>
</body>
</html>

<script src="{% static 'js/login.js' %}"></script>