<!--navbar.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
<nav class="navbar">
    <div class = navbar_logo>
      <a href="/">
          <img src="{% static '/image/logo.png' %}" alt="logo">
          GREWords!
      </a>
    </div>

    <div class="search">
      <input type="text" placeholder="Search Word!">
      <input type="image" onclick="openwordPopup()" src = "https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" alt="submit">
    </div>

    <ul class="navbar_menu">
      <li><a href = '/Word'>List</a></li>
      <li><a href = '/chapter'>Chapter</a></li>
      <li>game</li>
      <li>text</li>
      {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="logoutbtn" type="submit"> {{user.username}} (로그아웃)</button>
      </form>
        <button class="userpage" onclick="location.href='/userpage'">userpage</button>
      {% else %}
        <button class="loginbtn" onclick="openPopup()">Login</button>
        <button type=button class="signup" onclick="location.href='/user/signup'">Sign up</button>"
      {% endif %}
    </ul>
  </nav>