<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/background.css' %}" />

</head>
<body>
    
    <div class = "box">
        <h2 class = describe>Create Account</h2>
    
        <div class="member">
    
            <div class="field">
                <b>Username*</b>
                <span class="placehold-text"><input type="text"></span>
            </div>
        
            <div class="field">
                <b>Password*</b>
                <span class="placehold-text"><input type="password"></span>
            </div>
        
            <div class="field">
                <b>Email*</b>
                <span class="placehold-text"><input type="Email"></span>
            </div>
        
            <input type="submit" class="submit" value="Sign-up">
    
        </div>
    </div>

</body>
</html>