{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRE Word Study</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TSP2VQ4QW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0TSP2VQ4QW');
    </script>
    <link rel="stylesheet" href="{% static 'css/userpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
  </head>
 <body>
    {% include "Project/navbar.html" %}
    <div id="app">
        <h2 id="username">{{user.username}}'s word book</h2>
        {% if userWords %}
        <ol>
            {% for userVocab in userWords %}
            <form action="{% url 'delete_word' userVocab.id %}" method="post">
                {% csrf_token %}
                <div id="boxs">
                    <p>
                        <h2>
                            <li class="vocab-word">
                                {{ userVocab.vocabulary.word }}
                            </li>
                        </h2>
                        <h3 class="vocab-definition">
                        {{userVocab.vocabulary.definition}}
                        </h3>
                    </p>
                    <button type="submit" class="delete">Delete</button>
                </div>
                
                <!-- other fields -->
            </form>   
            {% endfor %}
        </ol>
        {% else %}
            <p>No words found.</p>
        {% endif %}
    </div>
    {% include "Project/search.html" %}

</body>
</html>
<script src="{% static 'js/search.js' %}"></script>
