<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Words</title>
    <link rel="stylesheet" href="{% static 'css/Word.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="row">
        <div class="col-md-3">List</div>
        <div class="col-md-3">search</div>
        <div class="col-md-3">game</div>
        <div class="col-md-3">text</div>
        <li class="nav-item"></li>
          {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"> {{user.username}} (로그아웃)</button>
          </form>
          {% else %}
          <button class="loginbtn" onclick="openPopup()">Login</button>
          {% endif %}
        </li>
      </div>
    </div>

    <div id="popup" class="popup-overlay">
      <div class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>Log in to GRE Study</h2>
        <form method="post" action="{%url 'word' %}" id="loginform">
          {% csrf_token %} 
          {% include "form_errors.html" %}
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            value = "{{form.username.value|default_if_none:''}}"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            value = "{{form.password.value|default_if_none:''}}"
          />
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>

    <h1 class="top">Word</h1>


    {% for word in words %} 
    <div class="box">
      <div class="words">
        <strong class="word">
            {{ word.text }}<br/>
        </strong>
        <!-- 단어 변수 들어가야할자리-->
        <!-- <strong class="diacritic">{{ word.pronunciation }}</strong> -->
      </div>
      <p class="definition">{{ word.definitions }}</p>
      <!-- 단어 뜻 변수 들어가야할자리-->
      <!-- <p class="example">{{ word.example }}</p> -->
      
      <!-- 단어 example 변수 들어갈자리-->
     <!-- <form method="post" action="{% url 'transfer_vocabulary' %}"> -->
        {% csrf_token %}
        <button type="submit">Transfer Vocabulary</button>
      </form>
    </div>
    {% endfor %}

  </body>
</html>

<script src="{% static 'js/login.js' %}"></script>
