<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/background.css' %}" />

</head>
<body>
    
    <div class = "box">
        <h2 class = describe>Create Account</h2>
    
        <form method="post" action="{% url 'signup' %}" class="member">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="field">
                <b>Username*</b>
                <span class="placehold-text">
                    <input type="text" name="username" id="username" value="{{form.username.value|default_if_none:''}}">
                </span>
            </div>
        
            <div class="field">
                <b>Password*</b>
                <span class="placehold-text"><input type="password" name="password1" id="password1" value="{{form.password1.value|default_if_none:''}}"></span>
            </div>

            <div class="field">
                <b>Password confirmation*</b>
                <span class="placehold-text"><input type="password" name="password2" id="password2" value="{{form.password2.value|default_if_none:''}}"></span>
            </div>
        
            <div class="field">
                <b>Email*</b>
                <span class="placehold-text"><input type="Email" name="email" id="email" value="{{form.email.value|default_if_none:''}}"></span>
            </div>
        
            <button type="submit" class="submit" value="Sign-up" id="signup">Sign-up</button>
    
        </div>
    </div>

</body>
</html>